.organigram{
    padding: 20px 20px 40px 20px;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        gap: 20px;

        .title{
            font-weight: bolder;
            font-size: 1.5rem;
            color: rgb(114, 114, 114);
            text-align: center;
        }

        .organigram-img{
            width: 100%;
            border-radius: 0.8em;
        }
    }
}
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .organigram{

        .container{
            width: 80%;

            .title {
                font-size: 2.5rem;
            }
        }
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}