.menu {
    display: flex;
    justify-content: center;
    padding: 50px 20px 50px 20px;

    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;

        .socmed-banner{
            background-color: rgba(255, 255, 255, 0.5);
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            align-items: center;
            min-height: 100px;
            font-size: 2.5rem;
            border-radius: 0.5em;
            color: #222ea2;
            transition: box-shadow 0.2s linear;

            .title{
                font-size: 1.5rem;
                font-weight: bold;
            }

            .socmed-list{
                display: flex;
                justify-content: space-evenly;
                width: 100%;
    
                a{
                    color: #c0c0c0;
                    transition: color 0.2s linear;
                }
                a:hover{
                    color: #222ea2;
                    transition: color 0.2s linear;
                }
            }
        }

        .socmed-banner:hover {
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
            background-color: rgba(255, 255, 255, 1);
            transition: box-shadow 0.2s linear;
        }

        .new-feature{

            .container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                width: 100%;

                .title{
                    text-align: center;
                    font-weight: bold;
                    font-size: 1.5rem;
                    color:  rgb(114, 114, 114);
                }

                .new-menu-list{
                    display: grid;
                    grid-template-columns: 1fr;
                    row-gap: 20px;
                    width: 100%;

                    .menu-card {
                        display: flex;
                        min-height: 100px;
                        width: 100%;
                        border-radius: 0.8em;
                        background-color: rgba(255, 255, 255, 0.5);
                        color: #222EA2;
                        transition: box-shadow 0.2s linear;
                    
                        .icon {
                            display: flex;
                            align-items: center;
                            padding-left: 20px;
                            min-width: 100px;
                            font-size: 45px;
                        }
                    
                        .menu-name {
                            display: flex;
                            font-size: 20px;
                            font-weight: 700;
                            align-items: center;
                        }
                    }
                    
                    .menu-card:hover {
                        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
                        background-color: rgba(255, 255, 255, 1);
                        transition: box-shadow 0.2s linear;
                    }
                }
            }
        }

        .menu-list{
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 20px;

            .menu-card {
                display: flex;
                min-height: 100px;
                width: 100%;
                border-radius: 0.8em;
                background-color: rgba(255, 255, 255, 0.5);
                color: #222EA2;
                transition: box-shadow 0.2s linear;
            
                .icon {
                    display: flex;
                    align-items: center;
                    padding-left: 20px;
                    min-width: 100px;
                    font-size: 45px;
                }
            
                .menu-name {
                    display: flex;
                    font-size: 20px;
                    font-weight: 700;
                    align-items: center;
                }
            }
            
            .menu-card:hover {
                box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
                background-color: rgba(255, 255, 255, 1);
                transition: box-shadow 0.2s linear;
            }
        }
    }
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .menu {
        .container {
            .menu-list, .new-feature .container .new-menu-list {
                grid-template-columns: 1fr 1fr;
                gap: 20px 20px;
            }
        } 
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .menu{
        padding: 50px 0px 50px 0px;
        .container {
            width: 80%;
        }
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}