.footer {
    display: flex;
    justify-content: center;
    color: #242424;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 50px 20px 5px 20px;

    .container {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .identity{
            .title {
                font-size: 22px;
                font-weight: bold;
            }

            .socmed {
                display: flex;
                font-size: 25px;
                margin-top: 15px;
                gap: 30px;

                a{
                    color:  #242424;
                }
            }
        }

        .headquarters {
            .title {
                font-size: 18px;
                font-weight: bold;
            }
        }

        .explore{
            .title {
                font-size: 18px;
                font-weight: bold;
            }

            .footer-menu-list {
                display: flex;
                flex-direction: column;
                gap: 20px;
                font-weight: normal;

                a{
                    color: inherit;
                }
            }
        }

        .back-to-top-icon{
            font-size: 30px;
            align-self: center;
            opacity: 0.5;
            cursor: pointer;
        }

        .back-to-top-icon:hover{
            opacity: 1;
            transition: all 0.2s linear;
        }

        .credits {
            font-size: 12px;
            text-align: center;
        }
    }
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .footer .container {
        width: 80%;

        .identity .title {
            font-size: 25px;
        }

        .headquarters .address {
            width: 75%;
        }
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}