.handouts {
    padding: 20px 20px 40px 20px;

    .container {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .main-title {
            font-weight: bolder;
            font-size: 1.5rem;
            color: rgb(114, 114, 114);
            text-align: center;
        }

        .handouts-list {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            .handout-card {
                background-color: white;
                border-radius: 0.8em;
                padding: 20px 20px 20px 20px;
                color: #222EA2;
                transition: all 0.2s linear;
            
                .handout-info .title {
                    font-weight: bold;
                }
            }
            
            .handout-card:hover {
                box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
                transition: all 0.2s linear;
            }
        }
    }
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .handouts .container {
        align-items: center;

        .main-title {
            font-size: 2.5rem;
        }

        .handouts-list {
            width: 80%;
            grid-template-columns: 1fr 1fr;

            .handout-card .handout-info .title {
                font-size: 1.2rem;
            }
        }
    }


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}