.handouts {
    padding: 20px 20px 40px 20px;
}

.handouts .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.handouts .main-title {
    font-weight: bolder;
    font-size: 1.5rem;
    color: rgb(114, 114, 114);
    text-align: center;
}

.handouts .container .handouts-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .handouts .container {
        align-items: center;
    }

    .handouts .main-title {
        font-size: 2.5rem;
    }

    .handouts .container .handouts-list {
        width: 80%;
        grid-template-columns: 1fr 1fr;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}