.handout-card {
    background-color: white;
    border-radius: 0.8em;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 20px 20px 20px;
    color: #222EA2;
}

.handout-card .handout-info .title {
    font-weight: bold;
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .handout-card .handout-info .title {
        font-size: 1.2rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}